body{
  padding: 0;
  margin: 0;
  background-color: rgba(0,0,0,0.1);
  font-family: 'Titillium Web', sans-serif;
  box-sizing: border-box;
}

.container{
  max-width: 700px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #fafafa;
}

.header{
  max-width: 700px;
  width: 100%;
  height: 200px;
  background-image: url("./image/2776360.jpg");
  background-size: 100% 150%;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  z-index: 100;
}

.clear{
  width : 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.clear i{
  font-size: 30px;
  color: #FFF;
}

.clear i:hover{
  cursor: pointer;
  transform: rotate(45deg);
}

#date{
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #FFF;
  font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
}

.calcs {
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.tab {
  background: #fff;
  max-width: 700px;
  width: 100%;
  display: flex !important;
  box-sizing: border-box;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 100;
  height: 70px;
}

.sp {
  font-size: 12px;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.6));
}

.sp i{
  font-size: 30px;
}

.sp .sp-tab-color {
  color: #7f91e2;
  border-top: 3px solid #7f91e2;
}

.tab.pc {
  display: none;
}

.pc .tab-todo {
  background: #4162f6;
}

.pc .tab-later, .pc .tab-comp {
  background: #7f91e2;
}

.tab-todo, .tab-later, .tab-comp{
  width: calc(100% / 3);
  padding: 10px 16px;
}

.tab-todo:hover, .tab-later:hover, .tab-comp:hover {
  cursor: pointer;
}

.pc .tab-todo:hover, .pc .tab-later:hover, .pc .tab-comp:hover {
  background: #7f91e2e0;
}

#list {
  display: block;
}

#late {
  display: none;
}

#complate {
  display: none;
}
 
.content {
  min-width: 100%;
  background-color: #fafafa;
  overflow: scroll;
  margin: 260px 0 70px 0; 
}

.content::-webkit-scrollbar { 
  display: none; 
}

.content ul {
  padding:0;
  margin:0;
  
}

.item {
  border-radius: 15px 15px 0 0;
  width: 90%;
  min-height: 75px;
  position: relative;
  border-radius: 15px;
  background-color: #FFF;
  list-style: none;
  padding: 0;
  margin: 10px auto;
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.6));
}


.item i.co {
  position: absolute;
  font-size: 25px;
  padding-left:5px;
  left:15px;
  top:10px;
  color: #4162f6;
}

.item i.co:hover {
  cursor: pointer;
}

.item p.text {
  position: absolute;
  padding: 0;
  margin: 0;
  font-size: 20px;
  left: 50px;
  top: 5px;
  background-color: transparent;
  width: 200px;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
           
}

*:focus {
  outline: none;
}

.item input[type=text].input {
  position: absolute;
  padding: 0 0 0 10px;
  margin: 0;
  font-size: 20px;
  left: 50px;
  top: 10px;
  background-color: #FFF;
  width: 200px;
  border: 1px solid#4162f6; 
  box-sizing: border-box;
}

.lineThrough {
  text-decoration: line-through;
  color : #ccc;
}

.item i.cl {
  position: absolute;
  font-size: 25px;
  right: 90px;
  top: 10px;
}

.item i.cl:hover {
  color: #4162f6;
  cursor: pointer;
}

.item i.ed {
  position: absolute;
  font-size: 25px;
  right: 50px;
  top: 10px;
}

.item i.ed:hover {
  color:#72af00;
  cursor: pointer;
}

.item i.de {
  position: absolute;
  font-size: 25px;
  right: 15px;
  top: 10px;
}

.item i.de:hover {
  color:#af0000;
  cursor: pointer;
}

.add-to-do {
  position: fixed;
  top: 200px;
  max-width: 700px;
  width: 100%;
  height: 60px;
  background-color: #FFF;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.add-to-do i {
  position: absolute;
  font-size: 40px;
  color: #4162f6;
}

.add-to-do input {
  position: absolute;
  left: 50px;
  height: 35px;
  width: 80%;
  background-color: transparent;
  border: 2px solid #4162f6;
  border-radius: 20px;
  font-size: 20px;
  padding-left: 20px;
}

.add-to-do input::-webkit-input-placeholder { 
  color: #7f91e2e0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}

.add-to-do input::-moz-placeholder { 
  color: #7f91e2e0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}

.add-to-do input:-ms-input-placeholder { 
  color: #7f91e2e0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}

.add-to-do input:-moz-placeholder { 
  color: #7f91e2e0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}

ul li input[type=text] {
  display: none;
}

ul li input[type=text].editMode {
  display: block;
}

ul li p.text.editMode {
  display: none;
}

.fadeout {
  animation : fadeOut 1.5s;
  animation-fill-mode: both;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 800px) {
  .tab.pc {
    top: 200px;
    height: 50px;
    background-color: #7f91e2;
    color: #fff;
  }

  .tab.sp {
    display: none !important;
  }

  .add-to-do {
    top: inherit !important;
    bottom: 0 !important;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  .content {
    margin: 250px 0 60px 0 !important;
    border-radius: 0 !important;
  }
  
  .item p.text, .item input[type=text].input {
    width: 400px;
  }
}


















